body {
  position: relative;
  font-family: sans-serif;
  font-size: 22px;
}

.wrapper {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.square {
  width: calc(100% / 6);
  height: calc(100% / 6);
  border: 1px solid black;
  float: left;
  box-sizing: border-box;

}

.yellow {
  background-color: gold;
  text-align: center;
  line-height: 100px;
}

.green {
  background-color: MediumAquaMarine;
  text-align: center;
  line-height: 100px;
}
