body {
  position: relative;
}

.wrapper {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.square {
  width: 15%;
  height: 15%;
  border: 1px solid black;
  display: inline-block;
}
